<button onclick="window.location.href='/products/new';">Add Product</button>
<div class = {{type}}> 
    <h1>PRODUCTS</h1>    
    {{#each product}}
    <h2>ID#{{id}}: <a href="/products/{{id}}">{{name}}</a></h2>
    <div>Price: {{price}}</div>
    <div>Stock: {{inventory}}</div>
    {{/each}}
</div>
<button onclick="window.location.href='..';">Back</button>